.mainDiv {
    display: flex;
    /* justify-content: space-between; */
    padding:20px 0;
    border-bottom: 1px solid grey;
}
.profiles {
    display: flex;
    justify-content: space-between;
}
.imgDiv {
    width: 150px;
    border-radius: 90px;
    padding-left: 10px;
}
.usernameDiv{
    width: 100%;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
